body {
    background: #9ACD32;
    font-size: 12pt;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
}
p {
  font-size: 11pt;
}

form {
  text-align: center;
  padding: 30px;
}

header, footer {
    padding: 25px;
    color: white;
    background-color: black;
    clear: center;
    text-align: center;
    border-radius: 10px;
}

table {
  text-align: center;
  border: 3px solid black;
  float: center;
  border-collapse: collapse;
  margin: 0 auto;
}

button:not(#setup, #restart, #redraw) {
  height: 25px;
  width: 25px;
  font-weight: 700;
  color: black;
  font-size: 12pt;
}

#tableHeader {
  text-align: center;
  float: center;
  width: auto;
}

#statusFace {
  width:40px;
  height:40px;
  vertical-align: middle;
}

#gameStatus {
  text-align: center;
  padding-bottom: 15px;
}

#textBox {
  border-style: solid;
  border-width: medium;
  width: 30px;
}

.mine {
  text-align: center;
}
